@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"),
    url("../font/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Rubik-Bold.woff2") format("woff2"),
    url("../font/Rubik-Bold.woff") format("woff"),
    url("../font/Rubik-Bold.ttf") format("truetype"),
    url("../font/Rubik-Bold.svg#Rubik-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik-Regular.eot");
  src: local("Rubik"), local("Rubik-Regular"),
    url("../font/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Rubik-Regular.woff2") format("woff2"),
    url("../font/Rubik-Regular.woff") format("woff"),
    url("../font/Rubik-Regular.ttf") format("truetype"),
    url("../font/Rubik-Regular.svg#Rubik-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik-Black.eot");
  src: local("Rubik Black"), local("Rubik-Black"),
    url("../font/Rubik-Black.eot?#iefix") format("embedded-opentype"),
    url("../font/Rubik-Black.woff2") format("woff2"),
    url("../font/Rubik-Black.woff") format("woff"),
    url("../font/Rubik-Black.ttf") format("truetype"),
    url("../font/Rubik-Black.svg#Rubik-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
