.tabs__nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.tabs__nav-item:first-child {
	margin-right: 20px;
}

.tabs__nav-btn {
	--color: var(--color-main-light);
	--color-border: transparent;
	display: block;
	flex-shrink: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	padding-bottom: 10px;
	border-bottom: 4px solid var(--color-border);
	color: var(--color);
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	white-space: nowrap;
}

.tabs__nav-item .tabs__nav-btn._active {
	--color: var(--color-main-dark);
	--color-border: var(--color-main-dark);
}

@media screen and (min-width: 700px) {
	.tabs__nav-item:first-child {
		margin-right: 30px;
	}
}