.slider {
    position: relative;
    width: 100%;

}

.slider__wrapper {
    overflow: hidden;
}

.slider__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    transition: transform 0.5s;
}

.slider__btn {
    --color-bg: var(--color-white);
    --size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-bg);
    border: none;
    margin-top: 15px;
    transform: translateY(-50%);
}

.slider__btn:disabled {
    opacity: 0.3;
}

.slider__btn-prev,
.slider__btn-next {
    top: calc(50% - (var(--size) / 2));
}

.slider__btn-prev {
    left: 0;
}

.slider__btn-next {
    right: 0;
}

@media screen and (min-width: 700px) {
    .slider__btn {
        display: flex;
    }
}