@import url("./reset.css");
@import url("../fonts/fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main-dark: #48484a;
  --color-main-light: #acacac;
  --color-main-bg: #e5e5e5;
  --color-white: #fff;
  --color-accent: #ec6e4d;
  --color-error: #f18c72;
  --color-switch: #e6e6e6;
  --color-theme-dark-main: #212331;
  --font: "Rubik", "Tahoma", "Arial", sans-serif;
  --shadow: 0px 7px 12px rgba(0, 0, 0, 0.05);
}

html,
body {
  width: 100%;
  height: auto;
}

body {
  --color-bg: var(--color-main-bg);
  --color: var(--color-main-dark);
  min-height: 100vh;
  color: var(--color);
  font-family: var(--font);
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-bg);
}

body.theme-dark {
  --color-main-dark: #e6e6e6;
  --color-main-bg: #100e1c;
  --color-white: #212331;
}

.App {
  width: 100%;
}

.container {
  width: 100%;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

/* buttons */

.btn {
  --color-bg: var(--color-white);
  --color-border: var(--color-main-light);
  --color: var(--color-main-dark);
  --radius: 10px;
  --border-width: 2px;
  padding: 16px 30px;
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--radius);
  background-color: var(--color-bg);
  font-weight: 700;
  font-size: 18px;
  color: var(--color);
}

.btn_close {
  --color: var(--color-main-dark);
  display: block;
  position: relative;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.btn_close::before,
.btn_close::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 4px;
  background-color: var(--color);
  top: 50%;
  left: 50%;
}

.btn_close::before {
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.btn_close::after {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.btn_slider {
  --color-bg: var(--color-white);
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-bg);
  border: none;
  margin-top: 15px;
  transform: translateY(-50%);
}

.btn_slider::before {
  content: "";
  width: 12px;
  height: 16px;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.btn_slider:disabled {
  opacity: 0.3;
}

.btn_prev::before {
  transform: rotateZ(180deg);
}

/* cards */

.card {
  --color-bg: var(--color-white);
  background-color: var(--color-bg);
  border-radius: 8px;
  padding: 16px 0;
  box-shadow: var(--shadow);
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.card__name {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.card__icon {
  width: 100%;
}

.card__term {
  display: flex;
  justify-content: center;
}

.card__term-min {
  --color: var(--color-main-light);
  margin-left: 16px;
  color: var(--color);
}

.card__value {
  font-weight: 900;
  font-size: 64px;
}

.card__value small {
  font-size: 40%;
  font-weight: 700;
}

.card_small {
  max-width: 110px;
}

.card_big {
  padding: 20px 4px;
  border-radius: 10px;
  max-width: 320px;
}

.card_big .card__name {
  font-weight: 400;
  font-size: 18px;
}

/* sidebar */

.sidebar {
  --color-bg: var(--color-white);
  position: relative;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.sidebar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidebar__btn {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.sidebar__condition {
  margin-top: 10px;
}

.sidebar__date {
  margin: 0 auto;
  margin-top: 80px;
}

.sidebar__location {
  margin: 25px auto 44px;
}

/* search */

.search {
  --color-bg: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: var(--color-bg);
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 100;
}

.serch__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search__btn {
  margin-right: 0;
  margin-left: auto;
}

.search__input {
  --color-bg: var(--color-white);
  --color-border: var(--color-main-light);
  --color: var(--color-main-dark);
  --radius: 10px;
  --border-width: 2px;
  display: block;
  width: 100%;
  padding: 16px;
  padding-left: 44px;
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--radius);
  background-color: var(--color-bg);
  color: var(--color);
  font-weight: 700;
  font-size: 18px;
  background-image: url("../img/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center left 14px;
}

.search__error {
  --color: var(--color-error);
  display: none;
  color: var(--color);
  margin-top: 10px;
  width: 100%;
}

.search__submit {
  margin-top: 20px;
  padding: 16px 22px;
  order: 1;
}

.search.open {
  transform: translateX(0);
}

/* theme */

.theme {
  --color-bg: var(--color-white);
  --color-bg-switch: var(--color-main-dark);
  --color: var(--color-switch);
  --color-border: var(--color-main-light);
  position: absolute;
  top: 40px;
  right: 30px;
}

.theme__checkbox {
  display: none;
}

.theme__switch {
  position: relative;
  display: block;
  width: 64px;
  height: 32px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-border);
  border-radius: 16px;
  transition: background-color 0.5s;
}

.theme__switch_item {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-switch);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: all 0.5s;
}

.theme__icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  fill: var(--color);
}

.theme__checkbox:checked + .theme__switch {
  --color-bg: var(--color-theme-dark-main);
  --color-bg-switch: var(--color-accent);
  --color: var(--color-theme-dark-main);
}
.theme__checkbox:checked + .theme__switch > .theme__switch_item {
  transform: translateX(32px);
}

/* -- condition -- */

.condition {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-image: url("../img/weather/bg/bg-cloud.png");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: top center;
  background-blend-mode: difference;
}

.theme-dark .condition {
  background-blend-mode: soft-light;
}

.condition__icon {
  max-width: 200px;
  height: auto;
  margin: auto;
}

.condition__temp {
  font-size: 96px;
  text-align: center;
  font-weight: 900;
  line-height: 0.8;
}

.condition__temp small {
  font-weight: 700;
  font-size: 50%;
}

.condition__fallout {
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

.condition__feel {
  --color: var(--color-main-light);
  margin-top: 16px;
  text-align: center;
  color: var(--color);
}

/* date */

.date {
  --color: var(--color-main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

.date__item:first-child {
  margin-right: 70px;
}

/* location */

.location {
  --color: var(--color-main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color);
}

.location__icon {
  width: 24px;
  height: 36px;
  margin-right: 16px;
}

/* heading */

.heading {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/* forecast */

.forecast .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast__label {
  margin: 0 auto 30px;
}

/* tabs label */

.label {
  display: flex;
  list-style: none;
}

.label__item:first-child {
  margin-right: 50px;
}

.label__btn {
  --color: var(--color-main-light);
  --color-border: transparent;
  display: block;
  flex-shrink: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--color-border);
  color: var(--color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.label__item .label__btn.active {
  --color: var(--color-main-dark);
  --color-border: var(--color-main-dark);
}

/* tabs */

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.tabs__item {
  position: relative;
  z-index: 1;
  display: none;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.tabs__item.active {
  display: flex;
}

.tabs__container {
  display: flex;
  width: 260px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.tabs__card {
  flex-shrink: 0;
  margin-bottom: 30px;
}

/* today */

.today {
  margin-bottom: 40px;
}

.today .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.today__card {
  width: 90%;
  margin-bottom: 40px;
}

/* wind */

.wind__value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind__icon {
  --color-bg: var(--color-main-dark);
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media screen and (min-width: 450px) and (max-width: 631px) {
  .condition {
    background-size: 100%;
  }
}

@media screen and (min-width: 632px) {
  .App {
    margin-left: 40%;
    width: 60%;
  }

  .search {
    width: 40%;
  }

  .sidebar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
  }

  .sidebar__container {
    min-height: 100vh;
  }

  .condition {
    background-size: 150%;
    background-position: center 30%;
  }

  .heading {
    margin-bottom: 25px;
  }

  .today .heading {
    margin-top: 40px;
  }

  .label__item:first-child {
    margin-right: 30px;
  }

  .tabs__container {
    width: 244px;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  .tabs__card {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .btn_slider {
    display: flex;
  }

  .tabs__btn-prev {
    left: calc(50% - 166px);
  }
  .tabs__btn-next {
    right: calc(50% - 166px);
  }

  .today__card {
    width: 100%;
  }
}

@media screen and (min-width: 632px) and (max-width: 833px) {
  .theme {
    top: 110px;
  }
}

@media screen and (min-width: 834px) {
  .forecast .container,
  .today .container {
    width: 380px;
    margin: 0 auto;
  }
  .forecast .container {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
  }

  .forecast__label {
    margin-left: 24px;
    margin-top: 60px;
  }
  .tabs__container {
    width: 378px;
  }

  .tabs__btn-prev {
    left: calc(50% - 236px);
  }
  .tabs__btn-next {
    right: calc(50% - 236px);
  }

  .today .heading {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    margin-left: 34%;
    width: 66%;
  }

  .sidebar,
  .search {
    width: 34%;
  }

  .serch__form {
    margin-top: 46px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search__input {
    flex-basis: calc(100% - 130px);
  }

  .search__submit {
    margin-top: 0;
    margin-left: 22px;
    order: 0;
  }

  .forecast .container,
  .today .container {
    width: 520px;
    margin: 0 auto;
  }
  .tabs__container {
    width: 512px;
  }
  .tabs__btn-prev {
    left: calc(50% - 300px);
  }
  .tabs__btn-next {
    right: calc(50% - 300px);
  }
}

@media screen and (min-width: 1200px) {
  .App {
    margin-left: 32%;
    width: 68%;
  }

  .sidebar,
  .search {
    width: 32%;
  }

  .forecast .container,
  .today .container {
    width: 650px;
  }
  .tabs__container {
    width: 646px;
  }

  .tabs__btn-prev {
    left: calc(50% - 374px);
  }
  .tabs__btn-next {
    right: calc(50% - 374px);
  }

  .today .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(46%, 320px));
    align-items: stretch;
    justify-content: space-between;
    column-gap: 40px;
  }

  .humidity,
  .pressure {
    justify-self: end;
  }

  .heading {
    text-align: left;
  }

  .today .heading {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1366px) {
  .forecast .container,
  .today .container {
    width: 790px;
  }
  .tabs__container {
    width: 780px;
  }

  .tabs__btn-prev {
    left: calc(50% - 434px);
  }
  .tabs__btn-next {
    right: calc(50% - 434px);
  }
}
